<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Profile Page</title>
  </head>
  <body>
    <!--  <nav>
      <div class="container">
        <div class="logo-container">
          <img src="images/uog_logo.jpg" class="logo-image" alt="" />
          <h2 class="logo-text">uognetwork</h2>
        </div>
        <div class="search-bar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icons"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>

          <input
            type="search"
            placeholder="search for students, instructors and resource"
          />
        </div>
        <div class="create">
          <label class="btn btn-primary" for="create-post">create</label>
          <div class="profile-photo">
            <img src="/images/profile-1.jpg" alt="her picture" />
          </div>
        </div>
      </div>
    </nav> -->
    <div class="profile-container">
      <div class="profile-cover">
        <img src="/images/feed-2.jpg" alt="" />
      </div>
      <div class="about-sec">
        <div class="profile-img">
          <img src="/images/profile-1.jpg" alt="" />
        </div>
        <div class="about-sec-text">
          <div>
            <div class="about-info">
              <h4>Khalid Mohammed</h4>
              <p>
                <span class="batch">4th Year</span>,
                <span> Electrical and computer enginnering</span>
              </p>
            </div>
            <div class="action-btn">
              <button class="btn btn-primary">Follow</button>
              <button class="btn btn-msg">Message</button>
            </div>
          </div>
          <div class="followers">
            <p>500</p>
            <h4>Followers</h4>
          </div>
        </div>
      </div>
      <div class="profile-end-container">
        <hr class="profile-end" />
      </div>

      <div class="main-container">
        <div class="profile-left">
          <h3>My Works</h3>
          <div class="works">
            <div><p>Lorem ipsum dolor sit amet.</p></div>
            <div><p>Lorem ipsum dolor sit amet.</p></div>
            <div><p>Lorem ipsum dolor sit amet.</p></div>
            <div><p>Lorem ipsum dolor sit amet.</p></div>
            <div><p>Lorem ipsum dolor sit amet.</p></div>
            <div><p>Lorem ipsum dolor sit amet.</p></div>
            <div><p>Lorem ipsum dolor sit amet.</p></div>
            <div><p>Lorem ipsum dolor sit amet.</p></div>
          </div>
        </div>
        <div class="profile-middle middle">
          <div class="feeds">
            <!--========  FEED 1  ============-->
            <div class="feed">
              <div class="head">
                <div class="user">
                  <div class="profile-photo">
                    <img src="images/profile-11.jpg" />
                  </div>
                  <div class="info">
                    <h3>lana rose</h3>
                    <small>dubai, 15 MINUTES AGO</small>
                  </div>
                </div>
                <span class="edit"> ## </span>
              </div>
              <div class="photo">
                <img src="/images/feed-1.jpg" />
              </div>
              <div class="action-buttons">
                <div class="interaction-buttons">
                  <img src="icons/heart-straight.svg" class="icons" />
                  <img src="icons/comment.svg" class="icons" />
                  <img src="icons/share-network.svg" class="icons" />
                </div>
                <div class="bookmark">
                  <span>#</span>
                </div>
              </div>

              <div class="liked-by">
                <span><img src="/images/profile-2.jpg" /></span>
                <span><img src="/images/profile-3.jpg" /></span>
                <span><img src="/images/profile-4.jpg" /></span>
                <p>Liked by <b>khaludi</b> and <b>200 others</b></p>
              </div>
              <div class="caption">
                <p>
                  <b>Lana rose</b> loremrrrrrrrrrrrreeeeeeeeeesdsddddddd.
                  <span class="hash-tag">#lifestyle</span>
                </p>
              </div>
              <div class="comments text-muted">View all 100 comments</div>
            </div>
            <!--========  FEED 2  ============-->
            <div class="feed">
              <div class="head">
                <div class="user">
                  <div class="profile-photo">
                    <img src="images/profile-11.jpg" />
                  </div>
                  <div class="info">
                    <h3>lana rose</h3>
                    <small>dubai, 15 MINUTES AGO</small>
                  </div>
                </div>
                <span class="edit"> ## </span>
              </div>
              <div class="photo">
                <img src="/images/feed-4.jpg" />
              </div>
              <div class="action-buttons">
                <div class="interaction-buttons">
                  <span>#</span>
                  <span>#</span>
                  <span>#</span>
                </div>
                <div class="bookmark">
                  <span>#</span>
                </div>
              </div>

              <div class="liked-by">
                <span><img src="/images/profile-2.jpg" /></span>
                <span><img src="/images/profile-3.jpg" /></span>
                <span><img src="/images/profile-4.jpg" /></span>
                <p>Liked by <b>khaludi</b> and <b>200 others</b></p>
              </div>
              <div class="caption">
                <p>
                  <b>Lana rose</b> loremrrrrrrrrrrrreeeeeeeeeesdsddddddd.
                  <span class="hash-tag">#lifestyle</span>
                </p>
              </div>
              <div class="comments text-muted">View all 100 comments</div>
            </div>
            <!--===== END OF FEED 2 =====-->
          </div>
        </div>
        <div class="profile-right">
          <h3>Skills</h3>
          <div class="skills">
            <div>Lorem</div>
            <div>Lorem</div>
            <div>Lorem</div>
            <div>Lorem</div>
            <div>Lorem</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
