{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="container">
      <div class="hero">
        <h2>UOG COMMUNITY</h2>
        <div class="img-container">
          <img src="{% static 'images__/University_of_Gondar.JPG' %}" alt="" />
        </div>
      </div>
      <form id="form" class="form" method='POST'>
        {% csrf_token %}
        <div class="logo">
          <img src="{% static 'images__/uog_logo.jpg' %}" alt="UOG logo" />
        </div>
        <div class="header">
          <h2>Sign Up</h2>
          <p>Already a member? <a href="/signin">Log In</a></p>
        </div>

        <div class="form-control">
          <label for="username"><b>Username</b></label>
          <input name='username' type="text" id="username" placeholder="Enter username" />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="email"><b>Email</b></label>
          <input name='email' type="email" id="email" placeholder="Enter email" />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="password"><b>Password</b></label>
          <input name='password' type="password" id="password" placeholder="Enter password" />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="confirmation"><b>Confirm Password</b></label>
          <input
            name='password2'
            type="password"
            id="confirmation"
            placeholder="Enter password again"
          />
          <small>Error message</small>
        </div>
        <div>
          <style>
              h5{
                  color: red;
              }
          </style>
          {% for message in messages %}
          <h5>{{message}}</h5>
          {% endfor %}
        </div>
        <button type="submit" class="sign-btn">Sign Up</button>
      </form>
    </div>
    <script src="{% static 'scriptLogin.js' %}"></script>
    
  </body>
</html>
